<!DOCTYPE html>
<html>
  <%- include("../layout/head.ejs") -%>  
  <%- include("../layout/nav.ejs") -%>
<style>
  body{
    margin-top: 2rem;
  }
</style>

<body>
  <div class="container">
    <h4>Bagaimana Cara untuk mendapatkan rekomendasi rumah?</h4>
    <div class="ml-4">
    <ol>
      <li>Masuk ke halaman DSS</li>
      <li>Isi Kuesioner Sesuai prioritas anda dan klik tombol submit</li>
      <li>Anda dapat melihat hasil perhitungan dihalaman pembeli</li>
      <li>klik button akun di pojok kanan atas untuk melihat opsi halaman pembeli</li>
    </ol>
    </div>
    <h4>Bagaimana Cara mendaftarkan rumah anda?</h4>
    <div class="ml-4">
    <ol>
      <li>Login Sebagai agen</li>
      <li>masuk ke halaman agen dengan klik button akun di pojok kanan atas</li>
      <li>masuk ke halaman manajemen rumah</li>
      <li>lengkapi form dan klik submit</li>
    </ol>
    </div>
    <h4>Apa Saja fitur yang disediakan untuk pengguna agen?</h4>
    <div class="ml-4">
    <ol>
      <li>mendaftarkan rumah</li>
      <li>melihat, menghapus dan mengedit rumah</li>
      <li>melihat nomor telepon calon pembeli yang menyukai properti anda</li>
    </ol>
    </div>
    <h4>Apa Saja fitur yang disediakan untuk pengguna calon pembeli rumah?</h4>
    <div class="ml-4">
    <ol>
      <li>Melihat rumah</li>
      <li>menyukai rumah,melihat rumah,dan meilhat nomor telepon agen</li>
      <li>Melihat rekomendasi rumah</li>
    </ol>
    </div>
  </div>
   
 
  <%- include("../layout/footer.ejs") -%>


 
</body>
</html>
