<!DOCTYPE html>
<html>
  <%- include("../layout/head.ejs") -%>  
  <%- include("../layout/nav.ejs") -%>


<body>

        <div class="jumbotron" style="height:100vh;">
            <h1 class="display-4">SPK VIKOR</h1>
            <p class="lead">Sistem Pendukung Keputusan Berbasis Web untuk memberikan rekomendasi rumah yang cocok dengan prioritas calon pembeli.</p>
            <hr class="my-4">
            <p>Anda Bisa Melihat panduan untuk mengetahui cara pakai aplikasi.</p>
            <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Ke panduan</a>
            </p>
        </div>

 
  <%- include("../layout/footer.ejs") -%>


 
</body>
</html>
